<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chiyi.user.dao.TestRecordDao">


    <select id="selectBySth" resultType="com.chiyi.user.entity.TestRecordEntity">
        SELECT * FROM test_record where ${key}=#{value}
    </select>

    <select id="selectAll" resultType="com.chiyi.user.entity.TestRecordEntity">
        SELECT * FROM test_record
    </select>

</mapper>